%html
  %body{ :style => 'font-family: Verdana,Arial,Helvetica,sans-serif' }
    %h2{ :style => 'padding-left: 8px' }
      = EMAIL_HEADER
    %ul{ :style => 'list-style-type: none; padding: 0' }
      = li_links
